*{
    margin: 0%;
    padding: 0% 0%;
}
.header{
    min-height: 20vh;
    max-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: left;
}
.profile-pic-rounded{
    float:left;
    padding: 2% 6%;
    vertical-align: middle;
    width: 10%;
    clip-path: circle(25% at 50% 44%);
}
.head{
    font-size: 8vh;
    line-height: 2vh;
}
.subhead{
    font-size: 5vh;
    line-height: 2vh;
}
.name-designation{
    position: relative;
    padding: 5.5% 0%;
}
.social-media{
    display: flex;
    margin-top: 1vh;
}
.social-media-icon{
    width: 2vw;
    margin-inline: 0.4vw;
}
.tabs{
    min-height: 5vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1% 1.5%;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 3vh
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 0.4vh;
    background-color: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.nav-links a.active-tab{
    border-bottom: 0.8vh solid yellow;
}
.home-tab{
    position: absolute;
    min-height: 10vh;
    width: 100%;
    padding: 12% 0%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(253, 255, 255));
    background-position: center;
    background-size: cover;
}
.home-textbox{
    position: absolute;
    padding-top: 0%;
    width: 90%;
    color: black;
    margin-top: -5%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
    vertical-align: top;
}
.research-tab{
    position: absolute;
    min-height: 10vh;
    width: 100%;
    padding: 12% 0%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(253, 255, 255));
    background-position: center;
    background-size: cover;
}
.research-textbox{
    position: absolute;
    padding-top: 0%;
    width: 90%;
    color: black;
    margin-top: -5%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
    vertical-align: top;
}
.publications-tab{
    position: absolute;
    min-height: 10vh;
    width: 100%;
    padding: 12% 0%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(253, 255, 255));
    background-position: center;
    background-size: cover;
}
.publications-textbox{
    position: absolute;
    margin-top: -2%;
    width: 90%;
    color: black;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
}
.publications-list li{
    margin: 1% 0;
}
.aboutme-tab{
    position: absolute;
    min-height: 10vh;
    width: 100%;
    padding: 12% 0%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(253, 255, 255));
    background-position: center;
    background-size: cover;
}
.aboutme-textbox{
    position: absolute;
    margin-top: 3%;
    width: 90%;
    color: black;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
}
.aboutme-list li{
    margin: 1% 0;
}
