*{
    margin: 0%;
    padding: 0% 0%;
}
.header{
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: left;
    overflow: auto;
}
.header .profile-pic-rounded{
    float:left;
    padding: 2.5% 6%;
    vertical-align: middle;
    width: 10%;
    clip-path: circle(25% at 50% 44%);
}
.header .name-designation{
    padding: 5% 0%;
    position: relative;
}
.header .social-media{
    display: flex;
}
.header .social-media .social-media-icon{
    width: 50%;
}
.tabs{
    min-height: 5vh;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.home-tab{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(253, 255, 255));
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: black;
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

